body {
  background-color:#d1e2e1;
}

div {
  margin: 3px;
}

p {
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

.panel {
  background-color:#8cc25e;
}

#headrow {
  background-color: #bcecdf;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.fill img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}
